/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
  color: #6B6B6C;
}

.title {
  font-family: "Exo 2", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
  color: #363738;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
  margin-top: 15px;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.svg-manufacturer-search-dims {
  width: 92px;
  height: 92px;
}

.svg-sample-delivery-dims {
  width: 92px;
  height: 92px;
}

.svg-search-for-manufacturers-dims {
  width: 92px;
  height: 92px;
}

.header {
  background: linear-gradient(to right, #fff 65%, #0B7572 50%);
  width: 100%;
  height: 787px;
}
.header__content {
  padding-top: 80px;
}
.header__text-box {
  margin-right: 70px;
}
.header__title {
  font-family: "Exo 2", sans-serif;
  font-size: 52px;
  line-height: 125%;
  font-weight: 600;
  color: #363738;
  padding-bottom: 40px;
}
.header__subtitle {
  padding-bottom: 40px;
}
.header__link {
  color: #363738;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 3px solid #FFCE50;
}
.header__images {
  display: inline-block;
  width: 635px;
  height: 505px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 10px;
}

.service {
  width: 1220px;
  background-color: #fff;
  height: 341px;
  border-radius: 15px;
  box-shadow: 0 0 5px;
  margin-top: -120px;
}
.service__item {
  padding-top: 40px;
  padding-right: 122px;
  padding-bottom: 56px;
  padding-left: 80px;
}
.service__list {
  width: 250px;
  margin-right: 169px;
}
.service__list:not(:first-child)::after {
  content: "";
  display: block;
  position: relative;
  right: 200px;
  bottom: 150px;
  transform: rotate(90deg);
  width: 228px;
  border: 1px solid #D7D7DD;
}
.service__title {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  color: #363738;
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 16px;
}
.service__img {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 39px;
  }
  .header {
    height: 748px;
    background: linear-gradient(to right, #fff 80%, #0B7572 50%);
  }
  .header__content {
    flex-direction: column;
    padding-top: 70px;
  }
  .header__text-box {
    margin-bottom: 56px;
    width: 523px;
  }
  .header__title {
    font-size: 44px;
    line-height: 55px;
  }
  .header__subtitle {
    padding-bottom: 51px;
    line-height: 24px;
  }
  .header__images {
    display: inline-block;
    width: 690px;
    height: 314px;
  }
  .service {
    height: 544px;
    margin-top: 36px;
    border: none;
    box-shadow: none;
  }
  .service__item {
    flex-direction: column;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .service__box-text {
    width: 600px;
  }
  .service__list {
    border-radius: 15px;
    box-shadow: 0 0 5px;
    margin-bottom: 16px;
    width: 690px;
    height: 164px;
    padding-top: 32px;
    padding-right: 140px;
    padding-bottom: 40px;
    padding-left: 32px;
  }
  .service__list:not(:first-child)::after {
    content: "";
    display: block;
    position: relative;
    right: 0;
    bottom: 0;
    transform: none;
    width: 0;
    border: none;
  }
  .service__img {
    float: left;
    margin-right: 32px;
  }
}
@media screen and (max-width: 576px) {
  body {
    font-size: 15px;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header {
    background: #0B7572;
    color: white;
    height: 766px;
  }
  .header__content {
    padding-top: 75px;
  }
  .header__text-box {
    width: 344px;
    margin-bottom: 40px;
  }
  .header__title {
    font-size: 28px;
    line-height: 35px;
    padding-bottom: 32px;
    color: inherit;
  }
  .header__subtitle {
    line-height: 22.5px;
    padding-bottom: 32px;
  }
  .header__link {
    color: inherit;
  }
  .header__images {
    width: 345px;
    height: 253px;
  }
  .service {
    width: 345px;
    height: 838px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px;
    margin-top: -80px;
  }
  .service__item {
    margin-top: 24px;
  }
  .service__list {
    border-radius: 0;
    box-shadow: none;
    width: 286px;
    height: 278px;
    padding: 24px;
    margin-bottom: 14px;
  }
  .service__list:nth-child(-n+2)::after {
    content: "";
    display: block;
    position: relative;
    right: 0;
    bottom: 0;
    top: 40px;
    transform: none;
    width: 228px;
    border: 1px solid #D7D7DD;
  }
  .service__box-text {
    width: 286px;
  }
  .service__title {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    color: #363738;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 12px;
  }
  .service__text {
    font-size: 15px;
  }
  .service__img {
    float: none;
    margin-bottom: 16px;
  }
  .svg-manufacturer-search-dims {
    width: 68px;
    height: 68px;
  }
  .svg-sample-delivery-dims {
    width: 68px;
    height: 68px;
  }
  .svg-search-for-manufacturers-dims {
    width: 68px;
    height: 68px;
  }
}